.bg-color-orange {
    background-color: orange;
}

.bg-color-blueviolet {
    background-color: blueviolet;
}

.bg-color-red {
    background-color: red
}

.bg-color-green {
    background-color: green;
}

.bg-color-greenyellow {
    background-color: greenyellow;
}

.bg-color-pink{
    background-color: palevioletred
}

.bg-color-yellow {
    background-color: yellow;
}

.bg-color-cyan {
    background-color: cyan;
}

.bg-color-magenta {
    background-color: magenta;
}

.bg-color-lightblue {
    background-color: lightblue;
}

.bg-color-lightgreen {
    background-color: lightgreen;
}

.bg-color-coral {
    background-color: coral;
}

.bg-color-purple {
    background-color: purple;
}

.bg-color-tomato {
    background-color: tomato;
}

.bg-color-salmon {
    background-color: salmon;
}

.bg-color-skyblue {
    background-color: skyblue;
}